<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
</head>
<body>
    <div>
        <form>
        <h1 id="titulo">Acompanhe sua consultas <br> de onde estiver</h1>
        <h2 id="subtitulo">Com a Connect Care você pode marcar novas <br> consultas e acompanha-las de onde estiver</h2>
        <button id="Login">Faça seu Login!</button>
        <h4 id="ou">ou</h4>
        <button id="criar" href="">Crie sua conta</button>
        </form>
</div>
</body>
</html>
