@font-face {
    font-family: 'minhafonte';   
    src: url(./Sen/Sen-Regular.ttf);   
}
#titulo{
    font-family: minhafonte;
    color: #004E64;
    font-size: 50px;
    position: absolute;
    padding-left: 10%;
}
#subtitulo{
    font-family: minhafonte;
    color:black;
    font-size: 20px;

}
#Login{
    font-family: minhafonte;
    font-size: 10px;
    background-color: #004E64;
    border: none;
    height: 40px;
    width: 10%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position:absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}
#Login:hover{
    background-color: #1A7CB2;
}

#criar{
    font-family: minhafonte;
    font-size: 4px;
    background-color: white;
    border-color: #004E64;;
    height: 40px;
    width: 10%;
    border-radius: 10px;
    color: #004E64;
    font-size: 20px;
    cursor: pointer;
    position:absolute; 
    top:50%;
    left:63%;
    transform: translate(-50%, -50%);
}
#criar:hover{
    background-color: #1A7CB2;
    color: white;
}
#ou{
    font-family: minhafonte;
    color: #004E64;
    font-size: 20px;
    position:absolute; 
    top:47%;
    left:61%;
    transform: translate(-50%, -50%);
    width: 10%; 
}