<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
</head>
<body>
    <mat-drawer-container id="card">
        <button mat-button id="inicio">Início</button>
        <button mat-button id="listagem">Listagem de <br> Pacientes</button>
        <button mat-button id="prontuario">Prontuário</button>
        <hr id="linha1">
        <hr id="linha2">
        <button mat-button id="sair">Sair</button>
  </mat-drawer-container>
  <h1 id="titulo">Selecione um paciente:</h1>
  <mat-drawer-container id="card2">
    <button mat-button id="pac1">NOME DO PACIENTE</button>
    <button mat-button id="pac2">NOME DO PACIENTE</button>
    <button mat-button id="pac3">NOME DO PACIENTE</button>
    <button mat-button id="pac4">NOME DO PACIENTE</button>
    <button mat-button id="pac5">NOME DO PACIENTE</button>
    <button mat-button id="pac6">NOME DO PACIENTE</button>
    <button mat-button id="pac7">NOME DO PACIENTE</button>
    <button mat-button id="pac8">NOME DO PACIENTE</button>
    <button mat-button id="pac9">NOME DO PACIENTE</button>
  </mat-drawer-container>
  
  <button mat-button id="botao">Abrir Prontuário</button>
</body>
</html>