<div class="container text-center">
    <div class="mb-2 row border">
        <div class="mb-2 col-12 display-6">Central de Login</div>
    </div>
    <div class="mb-3 col-4 container text-center">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Login">
    </div>
    <div class="mb-3 col-4 container text-center">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Senha">

    </div>
    <div class="mb-3 col-4 container text-center">
        <input style = "margin-right: 5px" type='button' value='Login'>
        <input style = "margin-right: 5px" type='button' value='Novo Cadastro'>
    </div>
    
</div>
