<div class="container text-center">
    <div class="row border">
        <div class="col-12">Central de Login</div>
    </div>
    <div class="mb-3 col-4 container text-center">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Login">
    </div>
    <div class="mb-3 col-4 container text-center">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
    </div>

    <div class="mb-3 col-4 row border container text-center">
        <div class="col-6 container text-center">
            <button type="button" class="btn btn-primary">Login</button>
        </div>
        <div class="col-6 container text-center">
            <button type="button" class="btn btn-primary">Novo Cadastro</button>
        </div>
    </div>
    
</div>
