table {
  width: 100%;
}

.mat-column-Data {
  position: static;
  max-width: 6%;
  border-right: 1px solid #e0e0e0;
}

.mat-column-Hora{
  position: static;
  margin-left: 8px;
  max-width: 6%;
  border-right: 1px solid #e0e0e0;
}

.mat-column-Titulo{
  position: static;
  max-width: 55%;
  margin-left: 8px;

}

.mat-column-Tipo{
  position: static;
  max-width: 10%;
  margin-left: 8px;
  border-right: 1px solid #e0e0e0;
}

.mat-column-Acoes{
  position: static;
  max-width: 23%;
}
